@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

.pink{
    background-color: red;
    opacity: 0.5;
}

.icon{
    width: 20px;
}
.banner{
    background-image: url("./images/header-bike.png");
    height: 100vh;
}

.version-2{
    background-color: #264653;
}

.version-3{
    background-color: black;
    background-blend-mode: multiply;
}